{% extends 'AcmeStampBundle:Loguj:baza.html.twig' %}

{% block tresc -%}
    <h1>Test &ndash; utwórz</h1>

    <form action="{{ path('test_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
             <button class="btn btn-primary" type="submit">Utwórz</button>
        </p>
    </form>

        

        <div class="btn-group">
            <a class="btn" href="{{ path('test') }}">
                <i class="icon-chevron-left"></i> Powróć do listy
            </a>
                    </div>
{% endblock %}
